@model Fbarbosa.Models.mCliente

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FBarbosa - Registre-se!</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/registerUser.css" />
    <link rel="stylesheet" href="~/Fbarbosa.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            @using (Html.BeginForm("RegisterUser", "Home", FormMethod.Post))
            {
                <h1>Registrar-se</h1>

                <label for="nome">Nome:</label>
                @Html.EditorFor(x => x.nome, new { htmlAttributes = new { type = "text", placeholder = "Nome Completo", title = "Digite seu nome completo!", id = "nome", name = "nome" } })
                @* <input type="text" placeholder="NOME COMPLETO" title="Digite seu nome completo!" id="nome" name="nome" /> *@
                
                <label for="email">Email:</label>
                @Html.EditorFor(x => x.email, new { htmlAttributes = new { type = "text", placeholder = "Email", title = "Digite seu Email!", id = "email", name = "email" } })
                @*  <input type="text" placeholder="EMAIL" title="Digite seu Email!" id="email" name="email" /> *@
                
                @* <label for="endereco">Endereço:</label>
                @Html.EditorFor(x => x.endereco, new { htmlAttributes = new { type = "text", placeholder = "ENDEREÇO", title = "Digite seu Endereço para entrega!", id = "endereco", name = "endereço" } *@ 
                @* <input type="text" placeholder="ENDEREÇO" title="Digite seu Endereço para entrega!" id="endereco" name="endereço" /> *@
                
                <label for="contato">Telefone / Celular:</label>
                @Html.EditorFor(x => x.telefone, new { htmlAttributes = new { type = "tel", placeholder = "TELEFONE", title = "Digite seu telefone para contato!", id = "contato", name = "telefone" } })
                @* <input type="tel" placeholder="TELEFONE" title="Digite seu telefone para contato!" id="contato" name="telefone" /> *@
                
                <label for="ID">CPF / CNPJ:</label>
                @Html.EditorFor(x => x.documento, new { htmlAttributes = new { type = "text", placeholder = "CPF / CNPJ", title = "Digite seu CPF (Cadastro de Pessoa Física) ou CNPJ (Cadastro de Pessoa Jurídica)!", id = "ID", name = "CPF/CNPJ" } })
                @* <input type="number" placeholder="CPF / CNPJ" title="Digite seu CPF (Cadastro de Pessoa Física) ou CNPJ (Cadastro de Pessoa Jurídica)!" id="ID" name="CPF/CNPJ" /> *@
               
                <label for="senha">Senha:</label>
                @Html.EditorFor(x => x.senha, new { htmlAttributes = new { type = "password", placeholder = "SENHA", title = "Digite sua senha para login!", id = "senha", name = "senha" } })
                @* <input type="password" placeholder="SENHA" title="Digite sua senha para login!" id="senha" name="senha" /> *@
                
                <label for="senha">Confirme sua senha:</label>
                @Html.EditorFor(x => x.confirmaSenha, new { htmlAttributes = new { type = "password", placeholder = "CONFIRMAR SENHA", title = "Digite novamente sua senha para login!", id = "senha", name = "confirmSenha" } })
                @* <input type="password" placeholder="CONFIRMAR SENHA" title="Digite novamente sua senha para login!" id="senha" name="confirmSenha" /> *@

                <button id="btnLogin" value="Entrar" type="submit">Cadastrar</button>
            }
                
            
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
